{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('styles/register.css') }}">

<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>


    <form method="post">
        {% if csrf_token_intention is defined %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
        {% else %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {% endif %}

        <div class="form-group">
            <label for="username">Email</label>
            <input type="email" id="username" name="_username" class="form-control" required autofocus>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" class="form-control" required>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" id="remember_me" name="_remember_me" class="form-check-input">
            <label for="remember_me" class="form-check-label">Pour pas m'oublier</label>
        </div>

        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>

</div>
{% endblock %}
