{% extends 'base.html.twig' %}

{% block title %}Eventify{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .event-list { margin-top: 20px; }
        .event-item { margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; }
    </style>

    <div class="example-wrapper">
        <h1>Bienvenue sur Eventify !</h1>
        <h2>Accedez à <a href="http://localhost:5173/">EventifyListener</a></h2>
        <h2>Les événements à venir :</h2>


    </div>
{% endblock %}
