{% extends 'base.html.twig' %}

{% block title %}Nouvel Artist{% endblock %}

{% block body %}
    <h1>Crée un nouvel Artist</h1>

    {{ include('artist/_form.html.twig') }}

    <a href="{{ path('app_artist_index') }}">retour à la liste</a>
{% endblock %}
