header {
    display: flex;
    flex-direction: row;
    background: linear-gradient(100deg, #b59797, #494949);
    justify-content: space-between;
}

#start, #end {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    gap: 2vh;
}

header img {
    margin: 2vh;
    width: 7vw;
    height: 7vw;
}

header h1 {
    color: white;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 5px;
    transition: color 0.4s, background-color 0.4s, transform 0.4s, box-shadow 0.5s;
}

header a:hover {
    transform: scale(1.1);
}